.Click{
    color: aliceblue;
    text-decoration: none;
    width: fit-content;
    background-color: #171120;
    background-image: linear-gradient(180deg, #171120 0%, #FF83cd 100%);
    position: relative;
    padding: 30px;
    border-radius: 20px;
    left: 50%;
    right: 60%;
    top:50vh;
    bottom:90vh;

}
a{
    text-decoration: none;
}
body{
    background-color: #FF83cd;
background-image: radial-gradient( #FF83cd , #171120 );
height: 100vh;
}