@font-face {
    font-family: poppins;
    src: url(./Fonts/Poppins-Black.ttf);
}
.dateTime{
    width: 20%;
    color: #e9e9e9;
    font-family: poppins;
    margin-left: 30px;
    border-radius: 10px;
    transform: rotate(270deg);
    position: relative;
    left: -90px;
    top: 15vw;



}
.day{
    font-size: 3vw;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    /* margin-left: 30px; */
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    left: -30px;
    
    /* letter-spacing: 1px; */
}