.Wrapper{
    min-height: 100vh;
    min-width: 100vw;
    margin:0;padding:0;
    /* background-image: url(./Images/Background\ \(2\).jpg); */
    backdrop-filter: blur(10px);

    position: absolute;
}
.subWrapper{
    background: url(./Images/clouds.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 10vh;
    border-radius: 25px;

}
@media (max-width:768px) {
    .subWrapper{
        margin: 0;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
        background-size: contain;
    }
}