.box{
    position:relative;
    padding: 0;
    
    
    width:33.33%;
    height: 100%;
    
    color: aliceblue;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    border: none;
    font-size: 50px;
    transition: all ease-in-out 350ms;
    font-weight: 900;
    text-shadow: 5px 3px 5px rgb(78, 78, 63);
}

