@font-face {
    font-family: scribble;
    src: url(./EduNSWACTFoundation-VariableFont_wght.ttf);
  }
.wrapper{
    height: 50vh;
    width:40vw;
    left: 30vw;
    top: 10vh;
    border-radius: 20px;
    
    background:transparent;

    position:relative;
    
    scroll-behavior: smooth;
    overflow: hidden;
    
    
   
}
.status{
    padding: 30px;
    font-size: 70px;
    text-align: center;
    font-weight: 800;
    font-family: scribble;
    text-shadow:5px 2px 5px beige;
    color:rgb(72, 52, 3);

}
@media (max-width:767px) {
    .wrapper{
        width: 70vw;
        height: 40vh;
        left:15vw;


    }
}