.wrapper{
    height: 50vh;
    width:40vw;
    left: 30vw;
    top: 25vh;
    border-radius: 20px;
    
    background:transparent;

    position:relative;
    
    scroll-behavior: smooth;
    overflow: hidden;
    
    
   
}
.status{
    padding: 10px;
    font-size: 10px;
}